<app-navbar></app-navbar>
<div class="container"><p>addmovies works!</p></div>
<div class="container">
  <form #moviePost="ngForm" (ngSubmit)="postMovie(moviePost.value)">
    <input
      aria-label="movie_title"
      type="text"
      name="movie_title"
      ngModel
      placeholder="Movie Title"
    />
    <br /><br />
    <input
      aria-label="movie_cost"
      type="text"
      name="movie_cost"
      ngModel
      placeholder="Movie Cost"
    />
    <br /><br />
    <input
      aria-label="movie_year"
      type="text"
      name="movie_year"
      ngModel
      placeholder="Year released"
    />
    <br /><br />
    <input
      aria-label="Movie_image_url"
      type="text"
      name="movie_image_url"
      ngModel
      placeholder="Movie Image"
    />
    <br /><br />

    <button type="submit">Submit Data</button>
  </form>
</div>
