<app-navbar></app-navbar>
<div class="container">
  <div class="container buttonalign">
    <a
      [routerLink]="['/', 'addadmin']"
      class="btn btn-rounded btn-outline-success"
      role="link"
      >Add Admin</a
    >
  </div>
  <div class="container p-2">
    <table class="table table-primary table-striped text-center">
      <thead>
        <tr class="bg-warning p-3 text-center">
          <th>Admin ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts" class="p-2">
          <td>{{ post.admin_id }}</td>
          <td>{{ post.first_name }}</td>
          <td>{{ post.last_name }}</td>
          <td>{{ post.username }}</td>
          <td>{{ post.password }}</td>
          <td>{{ post.email }}</td>
          <td>{{ post.phone_number }}</td>

          <td class="buttoncenter">
            <a
              [routerLink]="['/', 'updateadmin']"
              class="btn btn-outline-primary btn-rounded"
              role="link"
              >Edit</a
            >
            <a
              [routerLink]="['/', 'deleteadmin']"
              class="btn btn-outline-danger btn-rounded text-dark mx-2"
              role="link"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
