<div class="flex-container">
  <h1>Digital Streaming System</h1>
</div>
<div class="container">
  <div class="mb-3">
    <label for="emailInput" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="emailInput"
      placeholder="your_name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="pwdInput" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="pwdInput"
      placeholder="Your password"
    />
  </div>
  <button type="button" class="btn btn-primary">Login</button>
</div>
