<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <h2>Add An actor</h2>
    <p>Need to implement</p>
    <button
      type="submit"
      class="btn btn-outline-primary btn-rounded mx-3"
      [routerLink]="['/', 'actors']"
    >
      Back to Actors
    </button>
  </div>

  <div class="container">
    <!--
      <form #actorPost="ngForm" (ngSubmit)="postActor(actorPost)">
      Movie Title:
      <input
        aria-label="movie_title"
        type="text"
        name="movie_title"
        ngModel
        placeholder="Movie Title"
      />
      <br /><br />
      Movie Cost:
      <input
        aria-label="movie_cost"
        type="text"
        name="movie_cost"
        ngModel
        placeholder="Movie Cost"
      />
      <br /><br />
      Year Released:
      <input
        aria-label="movie_year"
        type="text"
        name="movie_year"
        ngModel
        placeholder="Year released"
      />
      <br /><br />
      Movie Image:
      <input
        aria-label="Movie_image_url"
        type="text"
        name="movie_image_url"
        ngModel
        placeholder="Movie Image"
      />
      <br /><br />

      <button type="submit" class="btn btn-outline-primary btn-rounded">
        Add Movie
      </button>
      <button
        type="submit"
        class="btn btn-outline-primary btn-rounded mx-3"
        [routerLink]="['/', 'actors']"
      >
        Back to Actors
      </button>
    </form>
  --></div>
</div>
