<app-navbar></app-navbar>
<div class="container">
  <div class="container buttonalign">
    <a
      [routerLink]="['/', 'addmovies']"
      class="btn btn-rounded btn-outline-success"
      role="link"
      >Add movies</a
    >
  </div>
  <div class="container p-2">
    <table class="table table-primary table-striped text-center">
      <thead>
        <tr class="bg-warning p-3 text-center">
          <th>Movie ID</th>
          <th>Movie Title</th>
          <th>Movie Cost</th>
          <th>Year Released</th>
          <th>Movie Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts" class="p-2">
          <td>{{ post.movie_id }}</td>
          <td>{{ post.movie_title }}</td>
          <td>{{ post.movie_cost }}</td>
          <td>{{ post.movie_year }}</td>
          <td>{{ post.movie_image_url }}</td>

          <td class="buttoncenter">
            <a
              [routerLink]="['/', 'updatemovies']"
              class="btn btn-outline-primary btn-rounded"
              role="link"
              >Edit</a
            >
            <a
              [routerLink]="['/', 'deletemovies']"
              class="btn btn-outline-danger btn-rounded text-dark mx-2"
              role="link"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--
  <div class="container p-2">
    <table class="table">
      <tr class="bg-warning p-3 text-center">
        <th>Movie ID</th>
        <th>Movie Title</th>
        <th>Movie Cost</th>
        <th>Year Released</th>
        <th>Movie Image</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let post of posts" class="p-2">
        <td>{{ post.movie_id }}</td>
        <td>{{ post.movie_title }}</td>
        <td>{{ post.movie_cost }}</td>
        <td>{{ post.movie_year }}</td>
        <td>{{ post.movie_image_url }}</td>
        <td class="buttonalign">
          <a
            [routerLink]="['/', 'updatemovies']"
            class="btn btn-warning btn-rounded"
            role="link"
            >Update</a
          >
          <a
            [routerLink]="['/', 'deletemovies']"
            class="btn btn-danger btn-rounded text-dark mx-3"
            role="link"
            >Delete</a
          >
        </td>
      </tr>
    </table>
  </div>
-->
