<app-navbar></app-navbar>
<div class="container">
  <div class="container buttonalign">
    <a
      [routerLink]="['/', 'adduser']"
      class="btn btn-rounded btn-outline-success"
      role="link"
      >Add Admin</a
    >
  </div>
  <div class="container p-2">
    <table class="table table-primary table-striped text-center">
      <thead>
        <tr>
          <th>Admin ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor="let post of posts" class="p-2">-->
        <tr>
          <td>admin_id</td>
          <td>first_name</td>
          <td>last_name</td>
          <td>username</td>
          <td>email</td>
          <td>phone</td>
          <!--
          <td>{{ post.movie_id }}</td>
        <td>{{ post.movie_title }}</td>
        <td>{{ post.movie_cost }}</td>
        <td>{{ post.movie_year }}</td>
        <td>{{ post.movie_image_url }}</td>
        -->
          <td class="buttoncenter">
            <a
              [routerLink]="['/', 'updateuser']"
              class="btn btn-outline-dark btn-rounded"
              role="link"
              >Edit</a
            >
            <a
              [routerLink]="['/', 'deleteuser']"
              class="btn btn-rounded text-dark btn-outline-danger mx-3"
              role="link"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
