<app-navbar></app-navbar>
<div class="container">
  <div class="container buttonalign">
    <a
      [routerLink]="['/', 'adduser']"
      class="btn btn-rounded btn-outline-success"
      role="link"
      >Add Admin</a
    >
  </div>
  <div class="container p-2">
    <table class="table">
      <tr class="bg-warning p-3 text-center">
        <th>Admin ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
      <!--<tr *ngFor="let post of posts" class="p-2">-->
      <tr>
        <td>admin_id</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>username</td>
        <td>email</td>
        <td>phone</td>
        <!--
          <td>{{ post.movie_id }}</td>
        <td>{{ post.movie_title }}</td>
        <td>{{ post.movie_cost }}</td>
        <td>{{ post.movie_year }}</td>
        <td>{{ post.movie_image_url }}</td>
        -->
        <td class="buttoncenter">
          <a
            [routerLink]="['/', 'updateuser']"
            class="btn btn-warning btn-rounded"
            role="link"
            >Edit</a
          >
          <a
            [routerLink]="['/', 'deleteuser']"
            class="btn btn-danger btn-rounded text-dark mx-3"
            role="link"
            >Delete</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>
