<div class="card text-center">
  <div class="card-header">
    Digital Streaming System
  </div>
  <div class="card-body">
    <h5 class="card-title">Probably a typo</h5>
    <p class="card-text">
      Either your username or password is wrong or both Please try again
    </p>
    <a
      [routerLink]="['/', 'login']"
      class="btn btn-primary active btn-rounded"
      role="link"
      >Login</a
    >
  </div>
</div>

<!--

  <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Wrong Credentials</h5>
          <p class="card-text">
            Either your username or password is wrong or both. Please try again.
          </p>
          <a
            [routerLink]="['/', 'login']"
            class="btn btn-primary active btn-rounded"
            role="link"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

-->
