<app-navbar></app-navbar>
<div class="container">
  <div class="container buttonalign">
    <a
      [routerLink]="['/', 'addactors']"
      class="btn btn-rounded btn-outline-success"
      role="link"
      >Add actors</a
    >
  </div>
  <div class="container p-2">
    <table class="table">
      <tr class="bg-warning p-3 text-center">
        <th>Actor ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let post of posts" class="p-2 text-center">
        <td>{{ post.actor_id }}</td>
        <td>{{ post.first_name }}</td>
        <td>{{ post.last_name }}</td>
        <td>{{ post.gender }}</td>
        <td>{{ post.age }}</td>
        <td class="text-center">
          <a
            [routerLink]="['/', 'updatemovies']"
            class="btn btn-warning btn-rounded"
            role="link"
            >Update</a
          >
          <a
            [routerLink]="['/', 'deletemovies']"
            class="btn btn-danger btn-rounded text-dark mx-3"
            role="link"
            >Delete</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>
<!--
  <div class="container">
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      {{post.first_name}} {{ post.last_name}} is {{post.age}} years old. Acted
      in {{post.movies.length}} movies. <br />
      <ul>
        <li *ngFor="let movie of post.movies">
          {{movie.movie_title}}
        </li>
      </ul>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
-->

<!--
  <div class="container">
  <h1>Actors in Movies</h1>
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      {{post.first_name}} {{ post.last_name}} is {{post.age}} years old. Acted
      in {{post.movies.length}} movies. <br />
      <ul>
        <li *ngFor="let movie of post.movies">
          {{movie.movie_title}}
        </li>
      </ul>
    </li>
  </ul>
</div>
-->
