<div class="container">
  <h1>Actors in Movies</h1>
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      {{post.first_name}} {{ post.last_name}} is {{post.age}} years old. Acted
      in {{post.movies.length}} movies. <br />
      <ul>
        <li *ngFor="let movie of post.movies">
          {{movie.movie_title}}
        </li>
      </ul>
    </li>
  </ul>
</div>
<!--

  <div class="container">
  <h1>Actors in Movies</h1>
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      {{post.first_name}} {{ post.last_name}} is {{post.age}} years old. Acted
      in {{post.movies.length}} movies. <br />
      <ul>
        <li *ngFor="let movie of post.movies">
          {{movie.movie_title}}
        </li>
      </ul>
    </li>
  </ul>
</div>
-->
