<app-navbar></app-navbar>
<div class="container">
  <div class="container"><h2>Add an Admin</h2></div>
  <div class="container">
    <form #adminPost="ngForm" (ngSubmit)="postAdmin(adminPost.value)">
      First Name:
      <input aria-label="first_name" type="text" name="first_name" ngModel />
      <br /><br />
      Last Name:
      <input aria-label="first_name" type="text" name="last_name" ngModel />
      <br /><br />
      Username:
      <input aria-label="first_name" type="text" name="username" ngModel />
      <br /><br />
      Password:
      <input aria-label="first_name" type="text" name="password" ngModel />
      <br /><br />
      Email:
      <input aria-label="first_name" type="text" name="email" ngModel />
      <br /><br />
      Phone Number:
      <input aria-label="first_name" type="text" name="phone_number" ngModel />
      <br /><br />

      <button type="submit" class="btn btn-outline-primary">Add Admin</button>
      <button
        type="submit"
        class="btn btn-outline-primary btn-rounded mx-3"
        [routerLink]="['/', 'users']"
      >
        Back to Admin
      </button>
    </form>
  </div>
</div>

<!--
    {
        "first_name": "Rebecca",
        "last_name": "Smith",
        "username": "admin5",
        "password": "12345saa6",
        "email": "rebsmith88@gmail.com",
        "phone_number": "86323375309"

-->
